*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    display: flex;
    height: 100vh;
    background: white;
    justify-content: center;
    align-items: center;
}
button{
    padding: 1rem 2rem;
    font-size: 12;
    color: rgb(255, 255, 255);
    border: none;
    background: rgb(40, 40, 40);
    transition: background 0.75s ease-out;
}
button:hover{
    background:rgb(80,77, 141);
}
nav{
    min-height: 10vh;
    background: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;
    transition:  all 0.75s ease-out;
}
.nav-slide {
    transform: translateY(-100%);
}

p{
    opacity: 1;
    transition: opacity 0.5s ease-out ;
}
.fade {
    opacity: 0;
}